# Video and temporary files
*.mp4
*.mkv
*.part

# Text and debug files
debug_page*

# yt-dlp related files
*.ytdl

# Build and distribution directories
build/
dist/

# IDE and editor files
.vscode/

# Python cache
__pycache__/
*.pyc
*.pyo

# Downloaded videos directory
downloads/

# .NET build artifacts
src/**/bin/
src/**/obj/

# Exceptions
!legacy/requirements.txt
!links.txt

appsettings.Development.json